<div class="space">
    <header>
        <p>Prawidłowe hasła 0 / 10</p>
    </header>

    <div class="letter-iteration-and-calculation-container">
        <div class="letter-row">
            <span class="letter">d</span>
            <span class="letter">d</span>
            <span class="letter">d</span>
            <span class="letter">d</span>
    
            <span class="letter">d</span>
            <span class="letter">d</span>
            <span class="letter">d</span>
            <span class="letter">d</span>
            <span class="letter">d</span>
        </div>
        <div class="calculation-row">
            <div class="calc">1+1</div>
            <div class="calc">1+1</div>
            <div class="calc">1+1</div>
            <div class="calc">1+1</div>
            <div class="calc">1+1</div>

            <div class="calc">1+1</div>
            <div class="calc">1+1</div>
            <div class="calc">1+1</div>
            <div class="calc">1+1</div>
        </div>
    </div>
</div>
